<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Angular8 CRUD employee-management-master
    </h1>
    <p><a href="https://github.com/overflowjs-com/Angular8-CRUD-employee-management"
            target="_blank">https://github.com/overflowjs-com/Angular8-CRUD-employee-management</a>
    </p>
    <p><a href="https://overflowjs.com/posts/Angular-8-Understanding-Directory-Structure-and-Creating-CRUD-App.html"
            target="_blank">Angular 8 - Understanding Directory Structure & Creating CRUD App</a>
    </p>
</div>


<router-outlet></router-outlet>
