<aside class="section-toc">
    <nav>
        <ul>
            <li><a routerLink='adbanner' routerLinkActive="active">AdBanner</a></li>
            <li><a routerLink='tips' routerLinkActive="active">Tips</a></li>
            <li><a routerLink='lazy' routerLinkActive="active">Lazy Module</a></li>
            <li><a routerLink="lazy/lazy-child">Lazy Child</a></li>
            <li><a routerLink="lazy/lazy-confirm">Lazy Child Confirm</a></li>
            <li><a routerLink='tabs' routerLinkActive="active">Tabs</a></li>
            <li><a routerLink='observable-async' routerLinkActive="active">Observable using Async</a></li>
            <li><a routerLink='generic-list' routerLinkActive="active">Generic List</a></li>
            <li><a routerLink='article-list' routerLinkActive="active">Article List</a></li>
            <li><a routerLink='article-crud' routerLinkActive="active">Article with CRUD</a></li>
            <li><a routerLink='dynamic-component' routerLinkActive="active">Dynamic Component</a></li>
            <li><a routerLink='dynamic-dialog' routerLinkActive="active">Dynamic Dialog Component</a></li>
        </ul>
    </nav>
</aside>
